<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<th:block th:insert="developer/common/head::head"></th:block>
	</head>
	<body class="nav-md footer_fixed">
		<div class="container body">
			
			<div class="main_container">
				<th:block th:insert="developer/common/head::left"></th:block>
				<th:block th:insert="developer/common/head::top"></th:block>
				<div class="right_col" role="main">
					<div class="clearfix"></div>

					<div class="row">

						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>修改水果基本信息 <i class="fa fa-user"></i>
										<small th:inline="text"></small>
									</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<form class="form-horizontal form-label-left" th:action="@{/stg/modifyFruit}" method="post" enctype="multipart/form-data">

										<input type="hidden" name="fid" id="fid" th:value="${fruit.fid}">
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fName">水果名称 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input name="fName" id="fName" class="form-control col-md-7 col-xs-12" data-validate-length-range="20"
												 data-validate-words="1" th:value="${fruit.getFName()}" required="required" placeholder="请输入水果名称" type="text">
											</div>
										</div>
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fWeight">价格 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input name="fPrice" id="fPrice" type="text" class="form-control col-md-7 col-xs-12" th:value="${fruit.getfPrice()}"
												 placeholder="请输入水果价格">
											</div>
										</div>
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fWeight">库存量 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input name="fInventory" id="fInventory" type="text" class="form-control col-md-7 col-xs-12" th:value="${fruit.getfInventory()}"
													   placeholder="请输入水果库存量">
											</div>
										</div>
										<div class="item form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="fWeight">重量 <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input name="fWeight" id="fWeight" type="text" class="form-control col-md-7 col-xs-12" th:value="${fruit.getFWeight()}"
													   placeholder="请输入水果重量">
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-6 col-md-offset-3">
												<button id="send" type="submit" class="btn btn-success">保存</button>
												<button type="button" class="btn btn-primary" id="back">返回</button>
												<br /><br />
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:insert="developer/common/foot::js"></th:block>
		<script th:src="@{/localjs/appinfomodify.js}"></script>
	</body>
</html>
